html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after, q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

// main style
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700')
$fontSans: 'Open Sans', sans-serif
$fontBitter: 'Bitter', serif

$colorWhite: #FFFFFF
$colorBlack: #000000
$colorGray: #F5F7F9
$colorDarkGray: #444444
$colorBlue: #7BC4CC


*
    outline: 0 !important

button
    cursor: pointer

html
    overflow-y: scroll
    overflow-x: auto

body
    width: 100%
    height: 100vh
    position: relative
    background: $colorWhite
    font-family: $fontBitter

header
    &:before
        content: ''
        width: 100%
        height: 4px
        background: #ACDCE0
        display: block
    &:after
        content: ''
        width: 100%
        height: 2px
        display: block
        background: #86CDCF
        position: absolute
        top: 2px

    width: 100%
    border-top: 2px solid $colorBlue
    margin-bottom: 20px
    .wrapper
        display: flex
    .top-menu
        background: $colorGray
        height: 36px
        position: relative
        .wrapper
            height: 100%
            display: flex
            align-items: center
            justify-content: space-between

        .phone
            a
                color: $colorDarkGray
                font-size: 11px
                text-decoration: none
                display: flex
                align-items: center
                font-family: $fontSans
                font-weight: 400
                img
                    width: 16px
                    height: auto
                    margin-right: 8px

        .welcome
            font-size: 12px
            color: $colorDarkGray
            font-weight: 400
            a
                color: $colorBlue
                text-decoration: none

        .choice
            display: flex
            align-items: center
            height: 100%
            .leng,
            .currency
                height: 100%
                display: flex
                align-items: center
                li
                    height: 100%
                    a
                        height: 100%
                        display: flex
                        align-items: center
                        justify-content: center
                        font-family: $fontSans
                        text-decoration: none
                        font-size: 11px
                        text-transform: uppercase
                        color: $colorDarkGray
                        font-weight: 600
                        padding: 0 8px
                        margin: 0 1px
                        background: #E6E9ED

            .currency
                margin-left: 24px

    .header
        display: flex
        align-items: center
        justify-content: space-between
        height: 36px
        max-height: 36px
        margin: 50px auto 76px auto
        .header-left
            display: flex
            align-items: center
            justify-content: space-between
            width: 48%
            height: 100%
            position: relative
            .logo
                width: 126px
                height: 100%
                display: flex
                align-items: center
                a
                    img
                        width: 100%
                        height: auto

            .search
                height: 100%
                form
                    height: 100%
                    display: flex
                    align-items: center
                    &:after
                        content: ''
                        display: block
                        width: 12px
                        height: 12px
                        background: url("../img/search.png")
                        background-position: center center
                        background-repeat: no-repeat
                        background-size: cover
                        position: absolute
                        right: 10px
                        z-index: 99
                    input
                        width: 220px
                        min-height: 35px
                        border: 1px solid #CCCCCC
                        border-radius: 3px
                        padding: 0 10px
                        position: relative

        .header-right
            display: flex
            align-items: center
            width: 48%
            height: 100%
            justify-content: flex-end
            .user-menu
                display: flex
                align-items: center
                li
                    a
                        font-family: $fontSans
                        color: #777777
                        font-size: 12px
                        text-decoration: none
                        border-right: 1px solid #E0E0E0
                        padding: 0 14px
                li:last-child
                    a
                        border: none
            .cart
                display: flex
                a
                    text-decoration: none
                    font-family: $fontSans
                    color: #777777
                    font-size: 12px
                    padding: 0 10px
                    background: $colorGray
                    height: 36px
                    display: flex
                    align-items: center
                    border: 1px solid $colorGray
                    border-radius: 2px
                    img
                        margin-right: 8px
                    span
                        margin-left: 4px

    .main-menu
        border-top: 1px solid #E0E0E0
        .wrapper

            display: flex
            align-items: center
            height: 50px
            background: $colorGray
        .main-menu-list
            display: flex
            height: 100%
            align-items: center
            justify-content: space-between
            li
                display: flex
                align-items: center
                justify-content: center
                height: 100%
                a
                    height: 100%
                    text-decoration: none
                    display: flex
                    align-items: center
                    justify-content: center
                    font-size: 14px
                    font-weight: 500
                    color: $colorDarkGray
                    text-transform: uppercase
                    padding: 0 20px
                    letter-spacing: 1.5px
                    border: 1px solid $colorGray
                    border-top: none
                    border-bottom: none
                .active-btn
                    border: 1px solid #72B7BE
                .active-btn:after
                    height: 0

.wrapper
    width: 100%
    max-width: 984px
    margin:  0 auto


.active-btn
    color: $colorWhite!important
    background: $colorBlue!important
    position: relative
    &:after
        content: ''
        display: block
        width: 100%
        height: 6px
        position: absolute
        top: -6px
        background: $colorBlue
        z-index: 1


div#main
    width: 100%
    height: 100%
    background: $colorWhite
    .slider
        .single-item
            height: 480px
            position: relative
            a
                width: 100%
                height: 100%
                display: flex
                background: url("../img/item.png")
                background-size: cover
                background-repeat: no-repeat
                background-position: center center

        .slick-arrow
            position: absolute
            top: 50%
            z-index: 2
            width: 42px
            height: 42px
            display: flex
            align-items: center
            justify-content: center
            border: none
            background: rgba( 250, 250, 250, .85)
            i:before
                color: $colorDarkGray
        .slick-prev,
        #prev
            left: 0
        .slick-next,
        #next
            right: 0

        .slick-dots
            position: absolute
            bottom: 20px
            right: 20px
            display: flex
            li
                width: 10px
                height: 10px
                background: $colorDarkGray
                border-radius: 50%
                border: 5px solid $colorGray
                margin: 0 5px
                opacity: 0.75
                button
                    display: none
            .slick-active
                border: 5px solid $colorDarkGray
                background: $colorGray

    .banners
        margin: 24px auto
        display: flex
        align-items: center
        justify-content: space-between
        .banner-item
            border: 1px solid #E0E0E0
            border-radius: 2px
            width: 310px
            height: 100px
            display: flex
            align-items: center
            justify-content: space-evenly
            .banner-item-descript
                display: flex
                flex-direction: column
                color: $colorDarkGray

                h5
                    width: 100%
                    font-weight: 400
                    font-size: 24px
                span

                    font-size: 16px
                    font-weight: 100
                    width: 100%
                    line-height: 2
                    color: #939393


.popUp-form
    display: none
    position: fixed
    top: calc(50% - 100px)
    left: calc(50% - 150px)
    background: #E0E0E0
    form
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center


.popUp-form-active
    display: flex
    align-items: center
    justify-content: center
    width: 300px
    height: 200px