@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: 0 !important; }

button {
  cursor: pointer; }

html {
  overflow-y: scroll;
  overflow-x: auto; }

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  font-family: "Bitter", serif; }

header {
  width: 100%;
  border-top: 2px solid #7BC4CC; }
  header:before {
    content: '';
    width: 100%;
    height: 4px;
    background: #ACDCE0;
    display: block; }
  header:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: #86CDCF;
    position: absolute;
    top: 2px; }
  header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  header .top-menu {
    background: #F5F7F9;
    height: 36px;
    position: relative; }
    header .top-menu .wrapper {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    header .top-menu .phone a {
      color: #444444;
      font-size: 11px;
      text-decoration: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
      header .top-menu .phone a img {
        width: 16px;
        height: auto;
        margin-right: 8px; }
    header .top-menu .welcome {
      font-size: 12px;
      color: #444444;
      font-weight: 400; }
      header .top-menu .welcome a {
        color: #7BC4CC;
        text-decoration: none; }
    header .top-menu .choice {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
      header .top-menu .choice .leng,
      header .top-menu .choice .currency {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .top-menu .choice .leng li,
        header .top-menu .choice .currency li {
          height: 100%; }
          header .top-menu .choice .leng li a,
          header .top-menu .choice .currency li a {
            height: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            font-family: "Open Sans", sans-serif;
            text-decoration: none;
            font-size: 11px;
            text-transform: uppercase;
            color: #444444;
            font-weight: 600;
            padding: 0 8px;
            margin: 0 1px;
            background: #E6E9ED; }
      header .top-menu .choice .currency {
        margin-left: 24px; }
  header .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 36px;
    max-height: 36px;
    margin: 50px auto 76px auto; }
    header .header .header-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 48%;
      height: 100%;
      position: relative; }
      header .header .header-left .logo {
        width: 126px;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .header .header-left .logo a img {
          width: 100%;
          height: auto; }
      header .header .header-left .search {
        height: 100%; }
        header .header .header-left .search form {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          header .header .header-left .search form:after {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background: url("../img/search.png");
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
                    background-size: cover;
            position: absolute;
            right: 10px;
            z-index: 99; }
          header .header .header-left .search form input {
            width: 220px;
            min-height: 35px;
            border: 1px solid #CCCCCC;
            -webkit-border-radius: 3px;
                    border-radius: 3px;
            padding: 0 10px;
            position: relative; }
    header .header .header-right {
      border: 1px dotted gray;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 48%;
      height: 100%;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      header .header .header-right .user-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        border: 1px solid hotpink; }
      header .header .header-right .cart {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid navy; }
  header .main-menu {
    border-top: 1px solid #E0E0E0; }
    header .main-menu .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 50px;
      background: #F5F7F9; }
    header .main-menu .main-menu-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header .main-menu .main-menu-list li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%; }
        header .main-menu .main-menu-list li a {
          height: 100%;
          text-decoration: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-size: 14px;
          font-weight: 500;
          color: #444444;
          text-transform: uppercase;
          padding: 0 20px;
          letter-spacing: 1.5px;
          border: 1px solid #F5F7F9;
          border-top: none;
          border-bottom: none; }
        header .main-menu .main-menu-list li .active-btn {
          border: 1px solid #72B7BE; }
        header .main-menu .main-menu-list li .active-btn:after {
          height: 0; }

.wrapper {
  width: 100%;
  max-width: 984px;
  margin: 0 auto; }

.active-btn {
  color: #FFFFFF !important;
  background: #7BC4CC !important;
  position: relative; }
  .active-btn:after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    position: absolute;
    top: -6px;
    background: #7BC4CC;
    z-index: 1; }

div#main {
  width: 100%;
  height: 100%;
  background: #FFFFFF; }
  div#main .slider .single-item {
    height: 480px;
    position: relative; }
    div#main .slider .single-item a {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background: url("../img/item.png");
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
